@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin: 48px 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 12px;
    font-family: var(--font-roboto), serif;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 18px;
    font-family: var(--font-roboto), serif;
    margin-bottom: 48px;
    padding-right: 24px;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 18px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.buttonGroup {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.heroImg {
    width: 30%;
    z-index: 1;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 18px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.topBlur {
    position: absolute;
    width: 60vw;
    height: 60vh;
    min-width: 60px;
    min-height: 60px;
    top: -240px;
    left: -12vw;
    border-radius: 720px;
    background: rgba(55, 55, 55, 0.6);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 60vw;
    height: 60vh;
    min-width: 60px;
    min-height: 60px;
    top: -240px;
    right: -12vw;
    border-radius: 720px;
    background: rgba(55, 55, 55, 0.6);
    filter: blur(100px);
    z-index: 0;
}

.fadeUp {
    opacity: 0;
    transform: translateY(48px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.fadeUp.visible {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
    }

    .title {
        font-size: 36px;
    }

    .description {
        text-align: center;
    }

    .heroImg {
        width: 240px;
        margin-bottom: 36px;
    }
}