@import "@fontsource/fuzzy-bubbles";
@import "@fontsource/patrick-hand";

:root {
  --color-text: #222;
  --color-primary: #222;
  --color-secondary: #bbb;
  --color-light: #eee;
  --color-bg: #fff;

  --font-fb: "Fuzzy Bubbles";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Patrick Hand", monospace;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: black;
  color: white;
}
