@import "../../vars.css";

.container {
    color: var(--color-text);
    margin: 32px 10%;
}

.title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.screenshots {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 15px;
    width: 100%;
}